<div class="divide-y divide-gray-200 dark:divide-gray-700">
  <div class="space-y-2 pt-6 pb-8 md:space-y-5">
    <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">
      About
    </h1>
  </div>
  <div class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0">
    <div class="flex flex-col items-center pt-8">
      <img
        src="/nick.jpeg"
        alt="avatar"
        width="192px"
        height="192px"
        class="h-48 w-48 rounded-full"
      />
      <h3 class="pt-4 pb-2 text-2xl font-bold leading-8 tracking-tight">Nick Horob</h3>
      <div class="text-gray-500 dark:text-gray-400">Founder</div>
      <div class="text-gray-500 dark:text-gray-400">Harvest Profit</div>
      <div class="flex space-x-3 pt-6">
        <a
          class="text-sm text-gray-500 transition hover:text-gray-600"
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/nickhorob"
        >
          <span class="sr-only">twitter</span>
          <i class="fa-brands fa-twitter fa-2x"></i>
        </a>
        <a
          class="text-sm text-gray-500 transition hover:text-gray-600"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/nick-horob-7a607a4/"
        >
          <span class="sr-only">linkedin</span>
          <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>
        <a
          class="text-sm text-gray-500 transition hover:text-gray-600"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/nhorob67"
        >
          <span class="sr-only">github</span>
          <i class="fa-brands fa-github fa-2x"></i>
        </a>
      </div>
    </div>
    <div class="prose max-w-none pt-8 pb-8 dark:prose-dark xl:col-span-2">
      <p>
        Chuck Norris can lead a horse to water AND make it drink If you ask Chuck Norris what time it is, he always says, "Two seconds 'til." After you ask, "Two seconds 'til what?" he roundhouse kicks you in the face Guns don't kill people. Chuck Norris kills people, Chuck Norris will attain statehood in 2009. His state flower will be the Magnolia When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris If it smells like chicken, tastes like chicken, looks like chicken, if Chuck says it's steak, then it's steak. The quickest way to a man's heart is with Chuck Norris' fist. Fool me once, shame on you. Fool Chuck Norris once and he will roundhouse you in the face Chuck Norris uses pepper spray to spice up his steaks, There is no theory of evolution. Just a list of creatures Chuck Norris has allowed to live.
      </p>
      <p>
        There is no theory of evolution. Just a list of animals Chuck Norris allows to live, Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie down, Someone once videotaped Chuck Norris getting pissed off. It was called Walker: Texas Chain Saw Massacre, Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie down, It is very important for a grizzly bear to stay still when he sees Chuck Norris.
      </p>
      <p>
        There is no limbo, only a world that doesn't know of Chuck Norris, Police label anyone attacking Chuck Norris as a Code 45-11... a suicide, Chuck Norris doesn't break hearts, he shatters them There is no chin behind Chuck Norris' beard. There is only another fist, Chuck Norris is my Homeboy. Chuck Norris can beat Mortal Kombat on the highest difficulty using Dan Hibiki There is no chin behind Chuck Norris' beard. There is only another fist Chuck Norris found the 51st shade of gray Chuck Norris invented Kentucky Fried Chicken's famous secret recipe, with eleven herbs and spices. But nobody ever mentions the twelfth ingredient: Fear.
      </p>
    </div>
  </div>
</div>
